h1 {
    text-align: center;
    padding: 15px;
}

.container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
}
.antrian-wrapper {
    height: 200px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
    width: 400px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(117, 117, 117);
  }
.img{
    width: 50px;
    margin-top: 10px;
}
.card-body {
    float: left;
    width: 100%;
  }
.card-body h3{
    width: 350px;
    padding: 10px;
}
.btn-daftar{
    width: 50%;
    height:50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size:13pt;
}
.btn-daftar:hover{
    background-color: rgb(65, 166, 225);
    color: rgb(244, 248, 251);
}